<div *ngIf="!finished">
  <input type="file" name="file" accept="application/pdf" (change)="files = $event.target.files">
  <mat-checkbox *ngIf="files" [(ngModel)]="upload">Save the file online</mat-checkbox>

  <mat-form-field *ngIf="files && upload">
    <input type="password" matInput placeholder="Password (optionnal)" [(ngModel)]="password">
  </mat-form-field>
  <div *ngIf="files && upload" class="advice">You can in addition add a password. In that case, you will need both the hash and the password to download the file</div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button type="button" mat-raised-button color="primary" mat-expand *ngIf="files" (click)="processFile(files)" [disabled]="loading">
      Record
    </button>
  </div>
  <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>

</div>

<div *ngIf="finished">
  <h2>Your hash has been successfully added to the ledger.</h2>
  <div>{{hash}}</div>
  <div #container>
    <button mat-raised-button color="secondary" ngxClipboard [cbContent]="hash" [container]="container">Copy</button>
  </div>
  <br>
  <button mat-raised-button color="primary" (click)="reset()">Record another</button>
</div>