<!--The content below is only a placeholder and can be replaced.-->
<div class="container even-container">
  <img class="logo" [src]="'assets/images/logo.jpeg'">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Create">
      <proveit-create-proof></proveit-create-proof>
    </mat-tab>
    <mat-tab label="Verify">
      <proveit-verify-proof></proveit-verify-proof>
    </mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>
</div>


<div class="container odd-container">
  <h2 class="section-title">What is proveit?</h2>

  <div fxLayout='row wrap'>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="600" [direction]="'left'" [icon]="'create'" [title]="'Record evidence'" [text]="'Simple, intuitive interface to record evidence. Very low transaction cost guarantees easy access to everyone.'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="400" [direction]="'left'" [icon]="'lock'" [title]="'Immutable ledger'" [text]="'Fingerprints (hash) of documents get stored on the public Blockchain. We store data for future generations. so redundancy of multiple Blockchains is our key to maximise the integrity of our proof system.'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="200" [direction]="'left'" [icon]="'people'" [title]="'Transparent independent validation'" [text]="'Easily prove the authenticity of your documents and enable third parties to verify the information independently.'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="0" [direction]="'left'" [icon]="'mail'" [title]="'Privacy'" [text]="'Your document fingerprints don’t allow recreation of your original document content. Which data you want to publish is fully in your hands.'"></app-feature>
    </div>
  </div>

</div>

<div class="container even-container">
  <h2 class="section-title">How does it work?</h2>

  <div fxLayout='row wrap'>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="35">
      <app-feature [delay]="0" [direction]="'right'" [icon]="'fingerprint'" [title]="'Record'" [text]="'We calculate a fingerprint (hash) of your document. This fingerprint will be added to our processing queue. Optionally
      we will store your document as well as its meta data on a cloud storage.'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="30">
      <app-feature [delay]="200" [direction]="'right'" [icon]="'device_hub'" [title]="'Write'" [text]="'On a regular basis we group multiple fingerprints into a merkle tree. The root hash of that tree will then be written
      to the Metaverse Blockchain.'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="35">
      <app-feature [delay]="400" [direction]="'right'" [icon]="'vpn_key'" [title]="'Prove'" [text]="'In order to prove the timestamp of your document independently we will provide you with the proof path through the
      merkle tree as well as the Blockchain transaction as a proof of record.'"></app-feature>
    </div>
  </div>

</div>


<div class="container odd-container">
  <h2 class="section-title">Who are we?</h2>

  <div fxLayout='row wrap'>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="35">
      <app-feature [delay]="400" [direction]="'left'" [img]="'assets/team/eric_gu.jpeg'" [title]="'Eric Gu'" [text]="'Early crypto adopter, famous investor and advisor for blockchain projects'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="30">
      <app-feature [delay]="200" [direction]="'left'" [img]="'assets/team/christine_duhaime.jpeg'" [title]="'Christine Duhaime'" [text]="'Description of Christine'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="35">
      <app-feature [delay]="0" [direction]="'left'" [img]="'assets/team/tal_zisckind.jpeg'" [title]="'Tal Zisckind'" [text]="'Amazing guy'"></app-feature>
    </div>
  </div>

  <div fxLayout='row wrap'>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="35">
      <app-feature [delay]="0" [direction]="'right'" [img]="'assets/team/sven_mutzl.jpeg'" [title]="'Sven Mutzl'" [text]="'Analyst and full-stack developer with strong experience in blockchain, major in Javascript/Typescript and smart-contracts'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="30">
      <app-feature [delay]="200" [direction]="'right'" [img]="'assets/team/laurent_salou.jpeg'" [title]="'Laurent Salou'" [text]="'Metaverse developer'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="35">
      <app-feature [delay]="400" [direction]="'right'" [img]="'assets/team/emma_hsueh.jpeg'" [title]="'Emma Hsueh'" [text]="'Metaverse developer'"></app-feature>
    </div>
  </div>

</div>

<div class="container even-container">
  <h2 class="section-title">Metaverse</h2>

  <div fxLayout='row wrap'>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="600" [direction]="'left'" [icon]="'wifi_tethering'" [title]="'Public Blockchain with high grade of decentralization'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="400" [direction]="'left'" [icon]="'monetization_on'" [title]="'Expert on asset tokenization'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="200" [direction]="'left'" [icon]="'business'" [title]="'Blockchain as a Service solutions'"></app-feature>
    </div>
    <div fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="25">
      <app-feature [delay]="0" [direction]="'left'" [icon]="'public'" [title]="'Open Source development community'"></app-feature>
    </div>
  </div>

</div>