<div fxFlex="10"></div>
<div fxFlex>
    <br>
    <mat-card>
        <h2>Verify your document on the blockchain</h2>
        <div fxLayout='row wrap' *ngIf="!finished">
            <div fxFlex.lt-md="100" fxFlex.gt-sm="40" class="inputFile">
                <input type="file" #inputFile ngf [(file)]="file" accept="application/pdf" />
            </div>
            <div fxFlex.lt-md="100" fxFlex.gt-sm="20" fxLayoutAlign="center center">OR</div>
            <div fxFlex.lt-md="100" fxFlex.gt-sm="40" class="inputHash">
                <mat-form-field>
                    <input type="text" matInput placeholder="File hash" [(ngModel)]="hash">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" *ngIf="!finished" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" [disabled]="(!file && !hash) || loading" (click)="verify(file, hash)">Verify</button>
        </div>
        <div fxLayout="row" *ngIf="!finished" fxLayoutAlign="center center">
            <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
        </div>

        <div *ngIf="finished">
            <mat-form-field *ngIf="hasPassword">
                <input type="password" matInput placeholder="Password (required)" [(ngModel)]="password">
            </mat-form-field>
            <button mat-raised-button color="primary" *ngIf="hasFile" (click)="download(hash, password)" [disabled]="hasPassword && !password">Download</button>
            <h2>Proofs:</h2>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel *ngFor="let proof of proofs">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{proof.blockchain}}
                        </mat-panel-title>
                        <mat-panel-description *ngIf="proof.blockchain == 'metaverse-testnet'">
                            <a href="http://explorer-testnet.mvs.org/tx/{{proof.txid}}" target="_blank">Metaverse
                                official
                                explorer</a>
                            <mat-icon>check_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <proveit-proof-path [path]="proof.path" [root]="proof.root" [hash]="hash"></proveit-proof-path>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <button mat-raised-button color="primary" (click)="reset()">Verify another</button>
        </div>
    </mat-card>
    <br>
</div>
<div fxFlex="10"></div>