<h2>Verify your document on the blockchain</h2>
<div *ngIf="!finished">
    <input type="file" #inputFile ngf [(file)]="file" accept="application/pdf" />
    <button mat-raised-button color="primary" *ngIf="file" (click)="verifyFile(file)">Verify</button>
</div>

<div *ngIf="finished">
    <h2>Proofs:</h2>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let proof of proofs">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{proof.blockchain}}
                </mat-panel-title>
                <mat-panel-description *ngIf="proof.blockchain == 'metaverse-testnet'">
                    <a href="http://explorer-testnet.mvs.org/tx/{{proof.txid}}" target="_blank">Metaverse official
                        explorer</a>
                    <mat-icon>check_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <proveit-proof-path [path]="proof.path" [root]="proof.root" [hash]="hash"></proveit-proof-path>
        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <button mat-raised-button color="primary" (click)="reset()">Verify another</button>
</div>